{{page-title 'List of Users'}}

<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Username</th>
      <th scope='col'>Password</th>
      <th scope='col'>Email</th>
      <th scope='col'>Birthday</th>
      <th scope='col'>Is Admin</th>
    </tr>
  </thead>
  <tbody>
    {{#each @this.model as |person|}}
      <tr>
        <td>{{person.id}}</td>
        <td>{{person.username}}</td>
        <td>{{person.password}}</td>
        <td>{{person.email}}</td>
        <td>{{person.birthday}}</td>
        <td>{{person.isAdmin}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>