{{page-title 'Main'}}
<div class='container'>
  <h2>Welcome - choose Your rent parameters</h2>

  <div class='container border border-4 border-dark p-4'>

    <label for='basic-url' class='form-label'><p class='fs-5 fw-bold'>Wybierz
        miejsce wynajmu:</p></label>
    <select
      class='form-select form-select-sm'
      aria-label='.form-select-sm example'
    >
      <option selected>Select rent place</option>
      <option value='1'>One</option>
      <option value='2'>Two</option>
      <option value='3'>Three</option>
    </select>
    <br />
    <div class='container'>
      <p class='fs-5 fw-bold'>Choose rent date:</p>
      <span class='date'>
        <div class='input-group mb-4'>
          <span
            class='input-group-text'
            name='inputGroup-sizing-default'
          >From:</span>
          <PikadayInput
            @format='YYYY-MM-DD'
            @value={{@dateFrom}}
            @onSelection={{fn this.onChangeDate 'dateFrom'}}
            @readonly={{'readonly'}}
          />
        </div>
      </span>
      <span class='date'>
        <div class='input-group mb-3'>
          <span
            class='input-group-text'
            name='inputGroup-sizing-default'
          >To:</span>
          <PikadayInput
            @format='YYYY-MM-DD'
            @value={{@dateTo}}
            @onSelection={{fn this.onChangeDate 'dateTo'}}
            @readonly={{'readonly'}}
          />
        </div>
      </span>
      <button
        type='button'
        class='btn btn-secondary'
        {{on 'click' this.clearForm}}
      >
        Clear
      </button>
    </div>
  </div>
</div>
<div class='container my-2'>
  <FleetList @eachCar={{@cars}} />
</div>