<FleetList::CarDetails @car={{this.model}} />

<div class='wrapper'>
  <h1>Summary</h1>
  <ul class='list-group'>
    <li class='list-group-item'>Okres wypożyczenia od: {{this.dateFrom}} </li>
    <li class='list-group-item'> Okres wypożyczenia do: {{this.dateTo}}</li>
    <li class='list-group-item'>Ilość dni: {{this.bookedDays}}</li>
    <li class='list-group-item'>Cena za dzień: {{this.model.dayRentPrice}}</li>
    <li class='list-group-item'>Cena całkowita:
      <h4>{{this.summary}} zł.</h4></li>
  </ul>
</div>