<div class='container'>
  <div class='row my-2 center border border-4 border-secondary'>
    <div class='card col-md-4 col-sm-6'>
      <img class='card-img-top' src='{{@car.img}}' alt='Rent this Car' />
      <div class='card-body'>
        <h2 class='card-title'>{{@car.segment}}</h2>
        <h3>{{@car.brand}} {{@car.carModel}}</h3>
        <h6>Fuel: {{@car.fuel}}</h6>
        <h6>Doors: {{@car.doors}}</h6>
        <h6>Seats: {{@car.seats}}</h6>
        <h6>Aircondition: {{@car.aircondition}}</h6>
        <h6>Transmission: {{@car.transmission}}</h6>
        <h6>Subscript:</h6><p>{{@car.subscript}}</p>
        <p class='card-text'><small class='text-muted'>Last updated 3 mins ago</small></p>
      </div>
    </div>

  </div>
</div>