<div class='container'>
  <div class='row my-2 center border border-4 border-secondary'>
    <div class='card col-md-4 col-sm-6'>
      <img class='card-img-top' src='{{@eachCar.img}}' alt='Rent this Car' />
      <div class='card-body'>
        <h2 class='card-title'>{{@eachCar.segment}}</h2>
        <h3>{{@eachCar.brand}} {{@eachCar.carModel}}</h3>
        <h6>Fuel: {{@eachCar.fuel}}</h6>
        <h6>Doors: {{@eachCar.doors}}</h6>
        <h6>Seats: {{@eachCar.seats}}</h6>
        <h6>Aircondition: {{@eachCar.aircondition}}</h6>
        <h6>Transmission: {{@eachCar.transmission}}</h6>
        <h6>Subscript:</h6><p>{{@eachCar.subscript}}</p>
        <p class='card-text'><small class='text-muted'>Last updated 3 mins ago</small></p>
      </div>
    </div>

  </div>
</div>